.App {
  box-sizing: border-box;
  text-align: center;
}
p {
  margin: 0;
}
.ul-div{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
}
img {
  
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  border: 2px solid salmon;
  border-radius: 4px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px;
  margin:0px;
  flex-wrap: wrap;
  /* background-color: gainsboro; */
  width: 80vw;
  height: 100vh;
  overflow: scroll;
  /* direction: rtl; */
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 225px;
  height: 225px;
  border: 2px solid rgb(64, 169, 187);
  border-radius: 4px;
}
.search-box{
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  border: 2px solid rgb(64, 169, 187);
  border-radius: 4px;
  margin-top: 25px;


}
.wrapper {
  display: flex;
  width: 100vw;
}
button {
  margin: 5px;
  background-color: darkorange;
  border-radius: 5px;
  color: black;
  width: 100px;
  height: 40px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 2px;
  margin-bottom: 10px;
  width: 150px;
  background-color: rgb(64, 169, 187);
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
h4{
  margin: 0px;
}
div h4{
  margin: 0px;
  font-size: 20px;
}
.spinner {
  position: fixed;
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
.imageLinks {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.ul-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 200px;
  height: fit-content;
  border: 2px solid rgb(64, 169, 187);
  border-radius: 4px;
}
.page-button{
  /* margin: 5px; */
  background-color: darkorange;
  border-radius: 5px;
  color: black;
  width: 70px;
  height: 30px;
  padding: 0px;
}
.images-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-forward-back{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  border: 1px solid black;
  margin: 5px;
}
.details-page{
  width: 100vw;
  height: 100vh;
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: salmon;
}